.conteudo {
  background-color: #e0e0d9;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.cabeçalho {
  background-color: tramsparent;
  height: 130px;
  margin-bottom: 18px;
  padding-top: 20px;
}

.menu {
  background-color: #333333;
  height: 50px;
  margin-bottom: 20px;
  background-image: linear-gradient(#cccccc, #333333);
}

.dados {
  background-color: #cc6600;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-bottom: 20px;
}

.pe_pagina {
  height: 80px;
  background-color: #666666;
}

.logo {
  height: 97px;
  width: 372px;
  background-color: transparent;
}

header {
  height: 110px !important;
}

body {
  background-color: #999999;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.lista {
  list-style-type: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

li {
  display: inline;
  line-height: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

a:hover {
  color: #ff9900;
}
