.conteudo {
  background-color: chocolate;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.cabeçalho {
  background-color: aquamarine;
  height: 130px;
  margin-bottom: 18px;
  padding-top: 20px;
}

.menu {
  background-color: #333333;
  height: 50px;
  margin-bottom: 20px;
}

.dados {
  background-color: #cc6600;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-bottom: 20px;
}

.pe_pagina {
  height: 80px;
  background-color: #666666;
}

.logo {
  height: 97px;
  width: 372px;
  background-color: aquamarine;
}

img {
}

header {
  height: 110px !important;
}

